 body, div{overflow: none !important;}
 nav{
  max-width: inherit !important;
 }
 #main {
  padding-top: 10px;
 }

#items {
	list-style-type: none !important;
	margin: 0;
}
.list-item {
	background-color: #F5F5F5;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	list-style-type: none !important;
}

.item-title {
	font-variant: small-caps;
}

.required {
	color: #f00;
}

.alert-box.hidden {
	visibility: hidden;
}

.library-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
}
.description.collapse {
    text-overflow: ellipsis;
    height: 1.5em;
  overflow-y: hidden;
}

.description.expand {
  text-overflow: inherit;
  height: auto;
  overflow-y: display;
}

#tools-menu {position: relative;}

.calendar.small .ui-datepicker-inline{
	width: auto;
}
.top-bar-section .info a{
	background-color: #2ba6cb !important;
}
.top-bar-section .info:hover > a{
	background-color: #2795B7 !important;
}
.top-bar-section .alert a{
	background-color: #c60f13 !important;

}

.top-bar-section .alert:hover > a{
	background-color: #B20E11 !important;

}

.top-bar-section .success a{
	background-color: #5da423 !important;
}
.top-bar-section .success:hover > a{
	background-color: #549420 !important;
}

.show-more.top {
	display:none;
}

.no-pointer {
	cursor: default !important;
	
}

.pad {
	padding: 12px !important;
}

.title-area .date-label{
	 margin-left: 5em !important;
	display: inline-block;
}

.small input.start, .small input.end {
	display: block;
	width: 100%;
}

.white {
	color: white;
}

.small {
	text-align: center;
}

.show-for-medium-up .step-controls {
	margin-top: 15px;
}
.input-buttons  {
	display: inline-block;
	float: right;
	overflow: visible;
}